name: "PR Pipeline"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  code_formatting:
    name: Check Code Format
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java 21 (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Check Code Format
        run: ./gradlew ktlintCheck --no-daemon

  build_android:
    name: Build Android app
    runs-on: ubuntu-latest
    timeout-minutes: 60

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java 21 (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and Test
        run: ./gradlew assembleDebug test --no-daemon --stacktrace

      - name: Run Lint Checks
        run: ./gradlew lintDebug

#      - name: Upload Test Reports
#        uses: actions/upload-artifact@v4
#        with:
#          name: test-reports
#          path: |
#            **/build/reports/tests/testDebugUnitTest/
#            **/build/reports/tests/test/

#  build_ios:
#    name: Build iOS app
#    runs-on: macos-latest
#    timeout-minutes: 60
#
#    permissions:
#      actions: read
#      contents: read
#      security-events: write
#
#    steps:
#      - uses: maxim-lobanov/setup-xcode@v1
#        with:
#          xcode-version: latest-stable
#
#      - name: Checkout Repository
#        uses: actions/checkout@v4
#
#      - name: Set up Java 21 (Temurin)
#        uses: actions/setup-java@v4
#        with:
#          distribution: 'temurin'
#          java-version: '21'
#
#      - name: Build shared Kotlin framework
#        run: ./gradlew compileKotlinIosSimulatorArm64 compileKotlinIosX64 --no-daemon --stacktrace
#
#      - name: Build app
#        run: xcodebuild -project iosApp/iosApp.xcodeproj -configuration Debug -scheme iosApp -sdk iphonesimulator
